{% extends 'base.html' %}
{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
<div class="container">
    {% include 'includes/alerts.html' %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <article class="card">
                <header class="card-header">
                    <h4 class="card-title">Change Password</h4>
                </header>
                <div class="card-body">
                    <form method="POST" action="{% url 'change_password' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="old_password">Old Password</label>
                            {{ password_form.old_password }}
                            {% if password_form.old_password.errors %}
                                <div class="text-danger">{{ password_form.old_password.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="new_password1">New Password</label>
                            {{ password_form.new_password1 }}
                            {% if password_form.new_password1.errors %}
                                <div class="text-danger">{{ password_form.new_password1.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="new_password2">Confirm New Password</label>
                            {{ password_form.new_password2 }}
                            {% if password_form.new_password2.errors %}
                                <div class="text-danger">{{ password_form.new_password2.errors }}</div>
                            {% endif %}
                        </div>
                        <input type="submit" value="Change Password" class="btn btn-primary">
                        <a href="{% url 'edit_profile' %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </article>
        </div>
    </div>
</div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
